<p><strong><%= @email %></strong> 様</p>

<p>
  TuneMatch へようこそ！<br>
  アカウント登録を完了するために、以下のリンクをクリックしてメールアドレスを確認してください。
</p>

<p>
  <%= link_to 'アカウントを確認する', confirmation_url(@resource, confirmation_token: @token) %>
</p>

<p>
  このメールに心当たりがない場合は、破棄していただいて問題ありません。
</p>

<p>
  ご登録ありがとうございます。<br>
  <strong>TuneMatch 運営チーム</strong>
</p>
