<p><strong><%= @email %></strong> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
    登録メールアドレスを変更する手続きが開始されました。<br>
    新しいメールアドレス: <strong><%= @resource.unconfirmed_email %></strong>
  </p>
  <p>
    この変更に心当たりがない場合は、ただちに運営までご連絡ください。
  </p>
<% else %>
  <p>
    登録メールアドレスが次の内容に更新されました。<br>
    新しいメールアドレス: <strong><%= @resource.email %></strong>
  </p>
  <p>
    この変更に心当たりがない場合は、ただちにパスワードを変更し、運営までご連絡ください。
  </p>
<% end %>

<p>ご利用ありがとうございます。<br>
<strong>TuneMatch 運営チーム</strong></p>
